* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-ServiceUIFrameContext;
}

.app {
  background-image: url('./Assets/greenmountains.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm {
  background-image: url('./Assets/Vapordesert.png')
}

main{
  min-height: 100vh;
}